@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: #446fe6;
/*  color: #fff;*/
  text-align: center;
}

h1 {
  text-align: center;
  font-family: 'Verdana', sans-serif;
  color: #fff;
  font-size: 2.0em;
}
p {
    text-align: left;
    color: #000;
}

#messagesDiv {
background-color: white;
overflow: auto;
height: 230px;
width: 100%;
padding: 10px;
border: 8px solid #424547;
margin-bottom: 5px;
text-align: left;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 600px;
  padding: 7px 14px;
  font-size: 24px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #898989;
}

.tt-dropdown-menu {
  width: 600px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #b0ffd5;
    -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #02c76c;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}